@model IEnumerable<Agricultural_seedlingsProject.Models.Ornamental>
@{
    ViewBag.Title = "ornamentals";
}

<div>

    @{
        string f = "ornamentals";
    }
    <!--Nav                -->


    <div style="margin-top: 13%; width: 100%; margin-bottom: 6%; ">
        <div class="row row-cols-1 row-cols-md-3" style="max-width: 100%; padding-left: 20px;">
            @foreach (var item in Model)
            {

                if (item.Quantity == 0)
                {
                    <a href="/Home/checkoutform/?n=@item.OrnamentalName&p=@item.Price&t=@f" class="nav-link disabled">
                        <div class="col mb-4  fru">
                            <div class="card">
                                <img src="~/image/@item.Image" class="card-img-top" alt="..." height="270px">
                                <div class="card-body">
                                    <h4 class="card-title">@item.OrnamentalName</h4>
                                    <p class="card-text">Price: @item.Price KD</p>
                                    <p class="card-text">Quantity: @item.Quantity</p>
                                </div>
                            </div>
                        </div>
                    </a>}
                else
                {
                    <a href="/Home/checkoutform/?n=@item.OrnamentalName&p=@item.Price&t=@f">
                        <div class="col mb-4  fru">
                            <div class="card">
                                <img src="~/image/@item.Image" class="card-img-top" alt="..." height="270px">
                                <div class="card-body">
                                    <h4 class="card-title">@item.OrnamentalName</h4>
                                    <p class="card-text">Price: @item.Price KD</p>
                                    <p class="card-text">Quantity: @item.Quantity</p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }

        </div>

    </div>



</div>




<!-- Footer -->
    </div>


